Simulator/simulator_nodered/IOT_Device_Auto_TLS
[{"id":"1cf3daef.71c42d","type":"tab","label":"Bulk OnBoard-TLS","disabled":false,"info":""},{"id":"c1dece1a.23c33","type":"inject","z":"1cf3daef.71c42d","name":"Start","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["f9cba1cd.3e4848"]]},{"id":"412a753c.46bce4","type":"delay","z":"1cf3daef.71c42d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":200,"wires":[["1055a5ee.883dd2"]]},{"id":"88fc7672.ff5498","type":"function","z":"1cf3daef.71c42d","name":"Create Login Req Obj","func":"var email = flow.get('user_emailid');\nvar tenantid = flow.get('tenant_id'); \nvar baseurl = flow.get('baseurl');\n\nvar newmsg = {payload: {\"email\":email, \"tenant\":tenantid,\"provider\":\"EMAIL\"}};\nnewmsg.method = \"POST\";\nnewmsg.url = 'https://dapi.'+ baseurl +'/user/authenticate';\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":200,"y":340,"wires":[["a1856961.3f0308"]]},{"id":"a1856961.3f0308","type":"http request","z":"1cf3daef.71c42d","name":"User Authn REST-Call","method":"use","ret":"obj","url":"","tls":"","x":440,"y":340,"wires":[["dc36c4bf.982188","6fcc297.81b7758"]]},{"id":"cee4caca.e01868","type":"function","z":"1cf3daef.71c42d","name":"Store the response in Flow Context","func":"var vesp_obj = flow.get('vesp_obj');\nvesp_obj = msg.payload;\nflow.set('vesp_obj',vesp_obj);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":340,"wires":[["746c1e00.a334e8","1e46010e.91d6e7"]]},{"id":"dc36c4bf.982188","type":"debug","z":"1cf3daef.71c42d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":280,"wires":[]},{"id":"746c1e00.a334e8","type":"function","z":"1cf3daef.71c42d","name":"Create Dev Bulk Authn Obj","func":"var my_vesp_obj = flow.get('vesp_obj');\nvar t_token = my_vesp_obj.token;\n \n//var ts = new Date().getTime();\nvar ts = flow.get('tickcount');\n\nvar devhash = 'FADEDEADBEEF'+ts; //generate unique device hash\n \nvar newmsg = {payload: {'ip' : '1.2.3.4', 'hash' : devhash,'devicetype':'device'}}; //Hash must be sent. other keys are optional.\n \n\nvar tdapi_url = my_vesp_obj.device_tenant_api_url;\ntdapi_url = tdapi_url+\"/device/allocateAuth\";\n \nmsg.payload= \"\";\nmsg.headers = {};\nmsg.headers['maxRedirects'] = 3;\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['authorization'] = \"Bearer \"+t_token;\nmsg.payload = newmsg.payload;\n\nmsg.method = \"POST\";\nmsg.url = tdapi_url;\nnode.warn(devhash);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":240,"y":500,"wires":[["f79ef1d5.1a56d8"]]},{"id":"f79ef1d5.1a56d8","type":"http request","z":"1cf3daef.71c42d","name":"Dev Authn REST-Call","method":"use","ret":"obj","url":"","tls":"","x":500,"y":500,"wires":[["827e77df.76c678","f8c883dd.0c9858"]]},{"id":"827e77df.76c678","type":"debug","z":"1cf3daef.71c42d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":460,"wires":[]},{"id":"b63de3f9.04d718","type":"function","z":"1cf3daef.71c42d","name":"save deviceID","func":"var vesp_obj = flow.get('vesp_obj');\nvesp_obj.deviceid = msg.payload.deviceid;\nflow.set('vesp_obj',vesp_obj);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":500,"wires":[["64af0390.d6c4bc","e067db76.63bb68"]]},{"id":"64af0390.d6c4bc","type":"function","z":"1cf3daef.71c42d","name":"construct Capability message","func":"var my_vesp_obj = flow.get('vesp_obj');//msg.payload;\nvar tdapi_url = my_vesp_obj.device_tenant_api_url;\ntdapi_url = tdapi_url+'/device/capability/';\ntdapi_url = tdapi_url+my_vesp_obj.deviceid;\n\nvar t_token = my_vesp_obj.token;\nmsg.payload= \"\";\nmsg.headers = {};\nmsg.headers['maxRedirects'] = 3;\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['authorization'] = \"Bearer \"+t_token;\nmsg.payload = {\"DevType\":\"device\", \"CPUType\":\"x86_64\",\"CPUSerialNumber\":\"007\",\"OS\":\"Linux\",\"Kernel\":\"3.10.0-3456\",\"Security\":\"TLS,IPSEC\",\"Notify\":\"cpu_threshold,mem_threshold,throughput_threshold\",\"Monitor\":\"process,uptime,memory\",\"interfacelist\":\"eth0,eth1\",\"IP\":\"10.3.0.07\",\"DevUID\":\"885beaf4-84d7-11e87-bc8-5254003f12187\"};//newMsg;\n\nmsg.url = tdapi_url;\n\nmsg.method = \"POST\";\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":640,"wires":[["ab285ccf.01352"]]},{"id":"ab285ccf.01352","type":"http request","z":"1cf3daef.71c42d","name":"Capability Exch REST-Call","method":"use","ret":"obj","url":"","tls":"588edba9.1bdd84","x":520,"y":640,"wires":[["44ce4a05.51bc54"]]},{"id":"8daf6cc5.3bc878","type":"function","z":"1cf3daef.71c42d","name":"Split Certs","func":"var client_key = msg.payload.client_key;\nvar client_cert = msg.payload.client_crt;\nvar ca_cert = msg.payload.client_ca;\nvar mqtt_topic = msg.payload.mqtttopic;\nreturn [{payload:client_key},{payload:client_cert},{payload:ca_cert},{payload:mqtt_topic}];","outputs":4,"noerr":0,"x":630,"y":880,"wires":[["844677d5.1c3bc8","7d125e80.c12e28"],["2c762543.b5ab02","c932d992.ea4ea8"],["9f691720.56f638","697a73f1.53ea7c"],["c969585f.280448","fa987e95.d3aea8"]]},{"id":"7d125e80.c12e28","type":"file","z":"1cf3daef.71c42d","name":"","filename":"My_Client_key.pem","appendNewline":true,"createDir":true,"overwriteFile":"true","x":890,"y":740,"wires":[]},{"id":"844677d5.1c3bc8","type":"debug","z":"1cf3daef.71c42d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":780,"wires":[]},{"id":"c932d992.ea4ea8","type":"file","z":"1cf3daef.71c42d","name":"","filename":"My_Client_Crt.pem","appendNewline":true,"createDir":false,"overwriteFile":"true","x":890,"y":860,"wires":[]},{"id":"2c762543.b5ab02","type":"debug","z":"1cf3daef.71c42d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":900,"wires":[]},{"id":"697a73f1.53ea7c","type":"file","z":"1cf3daef.71c42d","name":"","filename":"My_Client_CA.pem","appendNewline":true,"createDir":false,"overwriteFile":"true","x":890,"y":960,"wires":[]},{"id":"9f691720.56f638","type":"debug","z":"1cf3daef.71c42d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":1000,"wires":[]},{"id":"fa987e95.d3aea8","type":"function","z":"1cf3daef.71c42d","name":"save topic","func":"var tcount = flow.get('tickcount');\nif(flow.get('dev_topics') == undefined){\n flow.set('dev_topics',[]);\n}\nvar topic_list = [];\ntopic_list = flow.get('dev_topics');\ntopic_list[tcount] = msg.payload;\nflow.set('dev_topics',topic_list);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1060,"wires":[["9b2b5369.d73198"]]},{"id":"c969585f.280448","type":"debug","z":"1cf3daef.71c42d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":1100,"wires":[]},{"id":"9b2b5369.d73198","type":"link out","z":"1cf3daef.71c42d","name":"LinkA","links":["dee9beb4.c79878"],"x":1015,"y":1060,"wires":[]},{"id":"dee9beb4.c79878","type":"link in","z":"1cf3daef.71c42d","name":"","links":["9b2b5369.d73198"],"x":115,"y":200,"wires":[["412a753c.46bce4"]]},{"id":"507a430a.0a320c","type":"comment","z":"1cf3daef.71c42d","name":"Readme First (double click me)","info":"This Node RED Flow is provided as an example\nof devices that connect, authenticate and \ntransmit data to vitalpointz IOT Core/ IOT Platform.\n\nThis Flow, deployable on Node-RED, simulates \nbulk of devices added under 'Auto' option in \nvitalpointz IOT Core/Platform.\n\nThis flow leverges flow context facility of \nNode-RED.\n\nKindly double click individual comment block\nto understand this flow well. \n\nAt the outset,every device should run 3 REST calls\nto vitalpointz IOT Core/Platform before it is\nallowed to trasact data to/from the vitalpointz\nIOT Core/Platform, they are namely -\n\nI. User Authetication\nII. Device Authentication\nIII.Device Capability Exchange\n\nAt the end of all three calls, the devices receive\nDevice Certificate and MQTT Topic along with the \nlist of authorized URLs to commuincate to vitalpointz \nIOT Core/ Platform. Using these information\nthe device can pub/sub MQTT messages. \n\nREST (HTTPS) publish is also demonstrated.\n\nDouble-Click on the 'Config' Node to enter basic \ndevice information. Then click button called \n'b4start'. \n\nThen click 'start' button. The Flow will execute \nfunctions in the order.\n(1)1.User Auth\n(2)2.Dev Auth\n(3)3.Dev Capability Exch\n\nThe above 3-step process is repeated for total number \nof devices being simulated. \n\nAs the device on-boarding is going on,\nclick 'start' button of Mqtt Publish / HTTP Publish\nflows. These flows simulates devices that are\nalready on-boarded by sending random data over MQTT and\nHTTPS REST respectivley. \n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":150,"y":20,"wires":[]},{"id":"351bd1a7.1bdaa6","type":"comment","z":"1cf3daef.71c42d","name":"Step1. User Authentication (double click me)","info":"First step to bring an IOT Device to vitalpointz\nIOT Core/IOT Platform is to authenticate the user.\n\nEnsure you have username/tenan-id created under\nvitalpointz IOT Core/Platform before starting.\n\nInput\nThe device makes this call using following parameters\n\n- email id of the user\n- Tenant Id\n- the URL of the authentication call\n[Note]\n The URL to make this authentication call will be\nhttps://dapi.<base url for IOT Core>/user/authenticate\n This API supports user id/tenant id based login \nmethod, So the device need not be programmed\nwith the user password. \n\nOutput\nThe response of this REST call is saved in flow\ncontext called 'vesp_obj'.\n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":190,"y":280,"wires":[]},{"id":"6b4215e5.5f6c44","type":"comment","z":"1cf3daef.71c42d","name":"Step2. Device Authentication (double click me)","info":"Second step to bring an IOT Device to vitalpointz\nIOT Core/IOT Platform is to authenticate the device itself.\n\nIn this call, device generates a unique hash and \n'asks' the IOT Core/ Platform to allocate a device \nobject to it. It is important to note that each device\nmust generate and send a gloabally unique hash or id. \n\nInput\nThe device makes this call using following parameters\n\n- device hash\n[Note]\n NO other URL need to be entered by the user here\nas the required URL for API will be constructed from\nthe result of the previous (user authn) call. \n\nOutput\nThe response of this REST call is saved in flow\ncontext called 'vesp_obj'.\n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":200,"y":440,"wires":[]},{"id":"fa4fef37.e7673","type":"comment","z":"1cf3daef.71c42d","name":"Step3. Device Capability Exchange (double click me)","info":"Third and final step to bring an IOT Device to \nvitalpointz IOT Core/IOT Platform is to exchange capabilities\nof the device with the IOT Core/Platform.\n\nInput\nThe device makes this call using following parameters\n\n- Capabilites: device capavilities are explressed as \nJSON object. please see msg.payload field of function\nnode 'construct capability message'. \n\n[Note]\n NO other URL need to be entered by the user here\nas the required URL for API will be constructed from\nthe result of the previous (user authn, Dev Authn) calls. \n\nOutput\nThe response of this REST call is saved in flow\ncontext called 'vesp_obj'.\n\nWith this call, the device panel in vitalpointz IOT Core\n/platform turns 'Yellow' indicating device is \nauthenticated and on-boarded successfully. \n\nWith the result of the call, device is issued with \ncertificates and alloted topic to transfer messages. \nThe device can proceed to publish / susbcribe messages\nto / from IOT Core/platform respectively. \n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":210,"y":580,"wires":[]},{"id":"a0aa0d5e.c5bef","type":"function","z":"1cf3daef.71c42d","name":"Config","func":"var num_devices = 0;// enter the number of devices created under IOT Core/Platform UI\nvar baseurl = ''; //enter the base url for the IOT Core,for e.g, 'orgname.vitalpointz.com';\nvar user_emailid = ''; //enter the email id of the user\nvar tenant_id = '';//enter the tenant id provided by IOT Core/Platfrom UI while adding bulk devices\n\nflow.set('num_devices',num_devices);\nflow.set('baseurl',baseurl);\nflow.set('user_emailid',user_emailid);\nflow.set('tenant_id',tenant_id);\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[[]]},{"id":"4bae4f41.93a438","type":"inject","z":"1cf3daef.71c42d","name":"b4 start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["a0aa0d5e.c5bef"]]},{"id":"f9cba1cd.3e4848","type":"function","z":"1cf3daef.71c42d","name":"Check Inputs","func":"var url = flow.get('baseurl');\nvar num_devices = flow.get('num_devices');\nvar tenant_id = flow.get('tenant_id');\nvar user_email = flow.get('user_emailid');\nif(url && num_devices && tenant_id && user_email ){\n if(num_devices < 1 || url.length < 2 || tenant_id.length < 2 || user_email.length < 2)\n node.warn('Error: missing config!');\nreturn msg;\n}\n\n","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["1055a5ee.883dd2"]]},{"id":"1055a5ee.883dd2","type":"function","z":"1cf3daef.71c42d","name":"Gen N-Triggers","func":"var MAX_TRIGGERS = flow.get('num_devices');\nvar tc = flow.get('tickcount');\nif(tc == undefined)\n tc = 1;\nif(msg.payload != -1){\n tc = tc+1; \n if(msg.payload == 0) \n tc = 0;\n flow.set('tickcount',tc);\n if(tc < MAX_TRIGGERS)\n return {payload: 1};\n else\n return {payload:-1};\n \n} \n // return {payload : -1};","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["fa43600.998b6a"]]},{"id":"fa43600.998b6a","type":"function","z":"1cf3daef.71c42d","name":"Filter Trigger","func":"if(msg.payload == 1)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["88fc7672.ff5498"]]},{"id":"6fcc297.81b7758","type":"function","z":"1cf3daef.71c42d","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":670,"y":340,"wires":[["cee4caca.e01868"]]},{"id":"f8c883dd.0c9858","type":"function","z":"1cf3daef.71c42d","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":730,"y":500,"wires":[["b63de3f9.04d718"]]},{"id":"44ce4a05.51bc54","type":"function","z":"1cf3daef.71c42d","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":770,"y":640,"wires":[["8daf6cc5.3bc878","39ab39de.4d25a6"]]},{"id":"5b736a46.3b4e94","type":"function","z":"1cf3daef.71c42d","name":"Create Message","func":" if(msg.payload == 0 || msg.payload == 1) \n flow.set('mqtt_run_status',msg.payload); \n \nif(flow.get('mqtt_run_status') == 1){\n var t = getRandomInt(60);\n var p = getRandomInt_1(90000,120000);\n var ws = getRandomInt_1(10,30);\n var dev_topics = [];\n dev_topics = flow.get('dev_topics');\n msg.topic = dev_topics[getRandomInt(flow.get('tickcount'))];//Select a Device Topic and send message\n msg.payload = 'temperature='+ t +',pressure='+p+',windspeed='+ws;\nreturn msg;\n \n}\n\nfunction getRandomInt(max) {\n return Math.floor(Math.random() * Math.floor(max));\n}\n\nfunction getRandomInt_1(min, max) {\n min = Math.ceil(min);\n max = Math.floor(max);\n return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive\n}\n","outputs":1,"noerr":0,"x":420,"y":1280,"wires":[["fd30ad04.e3c688","1cacc502.bbdacb","c504d16.7f4fbb"]]},{"id":"1cacc502.bbdacb","type":"mqtt out","z":"1cf3daef.71c42d","name":"MQTT_TLS Pub","topic":"","qos":"","retain":"","broker":"8716489f.fcb198","x":700,"y":1280,"wires":[]},{"id":"e46ac04c.ed091","type":"comment","z":"1cf3daef.71c42d","name":"MQTT Publish","info":"","x":190,"y":1220,"wires":[]},{"id":"47642fc7.d21938","type":"function","z":"1cf3daef.71c42d","name":"Create Message","func":"if(msg.payload == 0 || msg.payload == 1) \n flow.set('http_run_status',msg.payload); \n \nif(flow.get('http_run_status') == 1){\n var t = getRandomInt(60);\n var p = getRandomInt_1(90000,120000);\n var ws = getRandomInt_1(10,30);\n var dev_topics = [];\n var my_vesp_obj = flow.get('vesp_obj');\n \n var nmsg = {};\n\nnmsg.method = 'POST';\nnmsg.url = my_vesp_obj.device_tenant_api_url+ '/device/data';\nnmsg.headers = {};\nnmsg.headers['maxRedirects'] = 3;\nnmsg.headers['Content-Type'] = \"application/json\";\nnmsg.headers['authorization'] = \"Bearer \"+ my_vesp_obj.token;\n\n dev_topics = flow.get('dev_topics');\n msg.topic = dev_topics[getRandomInt(flow.get('tickcount'))];//Select a Device Topic and send message\n msg.data = 'Temperature ='+ t +',pressure='+p+',windspeed='+ws;\n \n nmsg.payload = msg;\n \nreturn nmsg;\n}\n\n\n \nfunction getRandomInt(max) {\n return Math.floor(Math.random() * Math.floor(max));\n}\n\nfunction getRandomInt_1(min, max) {\n min = Math.ceil(min);\n max = Math.floor(max);\n return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive\n}\n\n\n","outputs":1,"noerr":0,"x":400,"y":1480,"wires":[["727b1ef1.0b8d08"]]},{"id":"2fb09bfa.aa8d1c","type":"comment","z":"1cf3daef.71c42d","name":"HTTPS Publish","info":"","x":180,"y":1420,"wires":[]},{"id":"a395bf96.11b2b8","type":"debug","z":"1cf3daef.71c42d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":1540,"wires":[]},{"id":"727b1ef1.0b8d08","type":"http request","z":"1cf3daef.71c42d","name":"REST Pub","method":"use","ret":"txt","url":"","tls":"","x":580,"y":1480,"wires":[["900fa9e1.9efc88","155919d0.a0eb3e","c4ce6a7b.e323d8"]]},{"id":"b485f8a.aa13808","type":"inject","z":"1cf3daef.71c42d","name":"Start","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1280,"wires":[["5b736a46.3b4e94"]]},{"id":"4f5e9734.c8132","type":"inject","z":"1cf3daef.71c42d","name":"Start","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1480,"wires":[["47642fc7.d21938"]]},{"id":"fd30ad04.e3c688","type":"delay","z":"1cf3daef.71c42d","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":1220,"wires":[["5b736a46.3b4e94"]]},{"id":"155919d0.a0eb3e","type":"delay","z":"1cf3daef.71c42d","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":1420,"wires":[["47642fc7.d21938"]]},{"id":"98fcaebe.02e318","type":"comment","z":"1cf3daef.71c42d","name":"After On-boarding is done/going on.., click 'Start' start random data trasnmission","info":"NOTE:\n MQTT Node needs configured manually with the Certificates\n,URL and Port number as provided by on-boarding process. \n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":380,"y":1140,"wires":[]},{"id":"c9e300f1.38fd58","type":"debug","z":"1cf3daef.71c42d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":500,"wires":[]},{"id":"900fa9e1.9efc88","type":"function","z":"1cf3daef.71c42d","name":"Check HTTP Error","func":"if(msg.statusCode != 200) {\n return msg;\n}\n","outputs":1,"noerr":0,"x":790,"y":1480,"wires":[["a395bf96.11b2b8"]]},{"id":"3192cb7d.3df0f4","type":"inject","z":"1cf3daef.71c42d","name":"Stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1540,"wires":[["47642fc7.d21938"]]},{"id":"8fbfb6dc.3d84e","type":"inject","z":"1cf3daef.71c42d","name":"Stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1320,"wires":[["5b736a46.3b4e94"]]},{"id":"1e46010e.91d6e7","type":"msg-speed","z":"1cf3daef.71c42d","name":"","frequency":"min","estimation":false,"ignore":false,"x":1050,"y":420,"wires":[["c9e300f1.38fd58"],[]]},{"id":"e067db76.63bb68","type":"msg-speed","z":"1cf3daef.71c42d","name":"","frequency":"min","estimation":false,"ignore":false,"x":1010,"y":580,"wires":[[],[]]},{"id":"39ab39de.4d25a6","type":"msg-speed","z":"1cf3daef.71c42d","name":"","frequency":"min","estimation":false,"ignore":false,"x":1030,"y":660,"wires":[[],[]]},{"id":"c504d16.7f4fbb","type":"msg-speed","z":"1cf3daef.71c42d","name":"MQTT pub rate","frequency":"min","estimation":false,"ignore":false,"x":700,"y":1220,"wires":[[],[]]},{"id":"c4ce6a7b.e323d8","type":"msg-speed","z":"1cf3daef.71c42d","name":"REST pub rate","frequency":"min","estimation":false,"ignore":false,"x":780,"y":1420,"wires":[[],[]]},{"id":"588edba9.1bdd84","type":"tls-config","z":"","name":"","cert":"My_Client_Crt.pem","key":"My_Client_key.pem","ca":"My_Client_CA.pem","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"8716489f.fcb198","type":"mqtt-broker","z":"","name":"","broker":"","port":"","tls":"5a481c37.0bb49c","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5a481c37.0bb49c","type":"tls-config","z":"","name":"","cert":"My_Client_Crt.pem","key":"My_Client_key.pem","ca":"My_Client_CA.pem","certname":"","keyname":"","caname":"","verifyservercert":false}]
