Simulator/IOT_Device_Manual_Plaintext
[{"id":"cc28c284.31643","type":"tab","label":"manual OnBoard-Plaintext","disabled":false,"info":""},{"id":"a7ba05e0.33c9","type":"function","z":"cc28c284.31643","name":"Create Login Req Obj","func":"var email = flow.get('user_emailid');\nvar passw = flow.get('password');\nvar baseurl = flow.get('baseurl');\n\nvar newmsg = {payload: {\"email\":email, \"password\":passw,\"provider\":\"EMAIL\"}};\nnewmsg.method = \"POST\";\nnewmsg.url ='http://usdapi.'+baseurl+'/user/authenticate';\n\nreturn newmsg;\n\n","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["f25163a8.65e08"]]},{"id":"f25163a8.65e08","type":"http request","z":"cc28c284.31643","name":"User Authn REST-Call","method":"use","ret":"txt","url":"","tls":"","x":740,"y":200,"wires":[["d257a66f.606fc"]]},{"id":"7bc0caf1.7a794c","type":"inject","z":"cc28c284.31643","name":"1.User Auth","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["e0bb3ec2.535768"]]},{"id":"bc8f4a1e.73fd88","type":"function","z":"cc28c284.31643","name":"Store the response in Flow Context","func":"var vesp_obj = flow.get('vesp_obj');\nvesp_obj = msg.payload;\nflow.set('vesp_obj',vesp_obj);\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1040,"y":280,"wires":[[]]},{"id":"b71c4c25.85bb78","type":"function","z":"cc28c284.31643","name":"Create Dev Authn Obj(Enter AuthCode)","func":"var dev_authcode = flow.get('authcode');\n \n var my_vesp_obj = flow.get('vesp_obj');\n var t_token = my_vesp_obj.token;\n \n var tdapi_url = my_vesp_obj.device_tenant_api_url;\n tdapi_url = tdapi_url+\"/device/auth/\";\n \n msg.payload= \"\";\n msg.headers = {};\n msg.headers['maxRedirects'] = 3;\n msg.headers['Content-Type'] = \"application/json\";\n msg.headers['authorization'] = \"Bearer \"+t_token;\n \n msg.url = tdapi_url+dev_authcode;\n \n msg.method = \"GET\";\n \n return msg;\n","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["469d44b8.a84404"]]},{"id":"f044b5a3.894d4","type":"inject","z":"cc28c284.31643","name":"2. Dev Auth","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["257dd48.c23c62c"]]},{"id":"469d44b8.a84404","type":"http request","z":"cc28c284.31643","name":"Dev Authn REST-Call","method":"use","ret":"txt","url":"","tls":"","x":840,"y":400,"wires":[["71907845.3eb668"]]},{"id":"6447607.474c4a","type":"function","z":"cc28c284.31643","name":"save deviceID in Flow Context","func":"var vesp_obj = flow.get('vesp_obj');\nvesp_obj.deviceid = msg.payload.deviceid;\nflow.set('vesp_obj',vesp_obj);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":500,"wires":[[]]},{"id":"63c8ed0d.c439fc","type":"debug","z":"cc28c284.31643","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":460,"wires":[]},{"id":"4f532169.320338","type":"comment","z":"cc28c284.31643","name":"Step1. User Authentication (double click me)","info":"First step to bring an IOT Device to vitalpointz\nIOT Core/IOT Platform is to authenticate the user.\n\nEnsure you have username/password created under\nvitalpointz IOT Core/Platform before starting.\n\nInput\nThe device makes this call using following parameters\n\n- email id of the user\n- Password\n- the URL of the authentication call\n[Note]\n the URL to make this authentication call will be\nhttps://dapi.<base url for IOT Core>/user/authenticate\n\nOutput\nThe response of this REST call is saved in flow\ncontext called 'vesp_obj'.\n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":210,"y":140,"wires":[]},{"id":"81d16e25.7adfb","type":"comment","z":"cc28c284.31643","name":"Step2. Device Authentication (double click me)","info":"Second step to bring an IOT Device to vitalpointz\nIOT Core/IOT Platform is to authenticate the device itself.\n\nEnsure you have 'authcode' generated by\nvitalpointz IOT Core/Platform while adding the device\nbefore starting.\n\nInput\nThe device makes this call using following parameters\n\n- authcode\n[Note]\n NO other URL need to be entered by the user here\nas the required URL for API will be constructed from\nthe result of the previous (user authn) call. \n\nOutput\nThe response of this REST call is saved in flow\ncontext called 'vesp_obj'.\n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":200,"y":340,"wires":[]},{"id":"8542f0d8.8689","type":"comment","z":"cc28c284.31643","name":"Readme First (double click me)","info":"This Node RED Flow is provided as an example\nof devices that connect, authenticate and\ntransmit data to vitalpointz IOT Core/ IOT Platform.\n\nThis Flow, deployable on Node-RED, simulates\na device added under 'manual' option in\nvitalpointz IOT Core/Platform. This Flow, simulating\na device that authenticates with vitalpointz\nIOT Core/Platform using HTTP REST service.\n\nThis flow leverges flow context facility of\nNode-RED.\n\nKindly double click individual comment block\nto understand this flow well. \n\nAt the outset,every device should run 3 REST calls\nto vitalpointz IOT Core/Platform before it is\nallowed to trasact data to/from the vitalpointz\nIOT Core/Platform, they are namely -\n\nI. User Authetication\nII. Device Authentication\nIII.Device Capability Exchange\n\nAt the end of all three calls, the device receives\nMQTT Topic along with the list of authorized \nURLs to commuincate to vitalpointz IOT Core/ Platform. \nUsing these information\nthe device can pub/sub MQTT messages. \n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":170,"y":20,"wires":[]},{"id":"f3626d4c.28f078","type":"debug","z":"cc28c284.31643","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":240,"wires":[]},{"id":"1a43dad3.d51965","type":"json","z":"cc28c284.31643","name":"","property":"payload","action":"","pretty":false,"x":810,"y":280,"wires":[["f3626d4c.28f078","bc8f4a1e.73fd88"]]},{"id":"4e34c964.fb525","type":"json","z":"cc28c284.31643","name":"","property":"payload","action":"","pretty":false,"x":730,"y":500,"wires":[["63c8ed0d.c439fc","6447607.474c4a"]]},{"id":"d257a66f.606fc","type":"function","z":"cc28c284.31643","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["a0c7491f.be3c08"]]},{"id":"71907845.3eb668","type":"function","z":"cc28c284.31643","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["2a54aae3.a5dc06"]]},{"id":"e75887a6.d32a9","type":"function","z":"cc28c284.31643","name":"construct Capability message","func":"var my_vesp_obj = flow.get('vesp_obj');\nvar tdapi_url = my_vesp_obj.device_tenant_api_url;\ntdapi_url = tdapi_url+'/device/capability/';\ntdapi_url = tdapi_url+my_vesp_obj.deviceid;\n\nvar t_token = my_vesp_obj.token;\nmsg.payload= \"\";\nmsg.headers = {};\nmsg.headers['maxRedirects'] = 3;\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['authorization'] = \"Bearer \"+t_token;\nmsg.payload = {\"DevType\":\"device\", \"CPUType\":\"x86_64\",\"CPUSerialNumber\":\"007\",\"OS\":\"Linux\",\"Kernel\":\"3.10.0-3456\",\"Security\":\"TLS,IPSEC\",\"Notify\":\"cpu_threshold,mem_threshold,throughput_threshold\",\"Monitor\":\"process,uptime,memory\",\"interfacelist\":\"eth0,eth1\",\"IP\":\"10.3.0.07\",\"DevUID\":\"885beaf4-84d7-11e87-bc8-5254003f12187\"};\n\nmsg.url = tdapi_url;\n\nmsg.method = \"POST\";\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":680,"wires":[["fda6ce03.1cfa48"]]},{"id":"c2889bc8.47c018","type":"inject","z":"cc28c284.31643","name":"3. Dev Capability Exch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":680,"wires":[["82df0999.ffc59"]]},{"id":"fda6ce03.1cfa48","type":"http request","z":"cc28c284.31643","name":"Capability Exch REST-Call","method":"use","ret":"txt","url":"","tls":"d82565c0.bd9628","x":860,"y":680,"wires":[["66bf64a2.12e25c"]]},{"id":"57eb6fee.458aa","type":"comment","z":"cc28c284.31643","name":"Step3. Device Capability Exchange (double click me)","info":"Third and final step to bring an IOT Device to \nvitalpointz IOT Core/IOT Platform is to exchange capabilities\nof the device with the IOT Core/Platform.\n\nInput\nThe device makes this call using following parameters\n\n- Capabilites: device capavilities are explressed as \nJSON object. please see msg.payload field of function\nnode 'construct capability message'. \n\n[Note]\n NO other URL need to be entered by the user here\nas the required URL for API will be constructed from\nthe result of the previous (user authn, Dev Authn) calls. \n\nOutput\nThe response of this REST call is saved in flow\ncontext called 'vesp_obj'.\n\nWith this call, the device panel in vitalpointz IOT Core\n/platform turns 'Yellow' indicating device is \nauthenticated and on-boarded successfully. \n\nWith the result of the call, device is issued with \ncertificates and alloted topic to transfer messages. \nThe device can proceed to publish / susbcribe messages\nto / from IOT Core/platform respectively. \n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":210,"y":620,"wires":[]},{"id":"66bf64a2.12e25c","type":"function","z":"cc28c284.31643","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":530,"y":800,"wires":[["5a2ea9ea.be83f"]]},{"id":"167fe8a0.4000a7","type":"debug","z":"cc28c284.31643","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":760,"wires":[]},{"id":"3f780afd.1f4b16","type":"mqtt out","z":"cc28c284.31643","name":"","topic":"","qos":"","retain":"","broker":"9e042a06.380ec","x":630,"y":920,"wires":[]},{"id":"dbcc561e.a9dbe","type":"inject","z":"cc28c284.31643","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":920,"wires":[["1d4108df.912227"]]},{"id":"1d4108df.912227","type":"function","z":"cc28c284.31643","name":"Construct Message to Publish","func":"var my_vesp_obj = flow.get('vesp_obj');\n\nreturn {topic:my_vesp_obj.topic,payload:'hello world2'};","outputs":1,"noerr":0,"x":390,"y":920,"wires":[["3f780afd.1f4b16"]]},{"id":"30a3b0b5.317898","type":"comment","z":"cc28c284.31643","name":"Step4(a). Transmit message MQTT plaintext (double click me)","info":"This flow shows how to publish message into \nvitalpointz IOT Core/Platform.\n\nMQTT Node is used to publish message. \n[NOTE] \n MQTT node needs to configured with URL and Port number \n manually as the standard Node-RED's MQTT node does NOT\n support that to be fed as message property. \n The URL&Port are available in vesp_obj with\n the key 'device_tenant_mqtt_url'.\n Alternatively, the same can be obtained in the web UI\n of the vitalpointz IOT Core/Platform. \n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":240,"y":860,"wires":[]},{"id":"c375edec.bed46","type":"inject","z":"cc28c284.31643","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1100,"wires":[["2f5cc937.7ba6ee"]]},{"id":"2f5cc937.7ba6ee","type":"function","z":"cc28c284.31643","name":"Construct Message to Publish","func":"var my_vesp_obj = flow.get('vesp_obj');\n \nvar nmsg = {};\nnode.warn(my_vesp_obj);\n\nnmsg.payload = {'topic':my_vesp_obj.topic, 'data':'hello world from HTTP'};\n\nnmsg.method = 'POST';\nnmsg.url = my_vesp_obj.device_tenant_api_url+ '/device/data';\nnmsg.headers = {};\nnmsg.headers['maxRedirects'] = 3;\nnmsg.headers['Content-Type'] = \"application/json\";\nnmsg.headers['authorization'] = \"Bearer \"+ my_vesp_obj.token;\n\nreturn nmsg;","outputs":1,"noerr":0,"x":350,"y":1100,"wires":[["ddfd8e21.ec64d8","d3881f9c.5661c8"]]},{"id":"731e7552.860814","type":"comment","z":"cc28c284.31643","name":"Step4(b). Transmit message REST (double click me)","info":"This flow shows how to publish message into \nvitalpointz IOT Core/Platform using HTTPS REST.\n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc\n","x":210,"y":1020,"wires":[]},{"id":"ddfd8e21.ec64d8","type":"http request","z":"cc28c284.31643","name":"","method":"use","ret":"txt","url":"","tls":"","x":590,"y":1100,"wires":[["4d3988ce.294438"]]},{"id":"439d0a8e.ebff74","type":"debug","z":"cc28c284.31643","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1160,"wires":[]},{"id":"d3881f9c.5661c8","type":"debug","z":"cc28c284.31643","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":1040,"wires":[]},{"id":"c7c30c9e.cc5fd8","type":"json","z":"cc28c284.31643","name":"","property":"payload","action":"","pretty":false,"x":810,"y":800,"wires":[["167fe8a0.4000a7","c461c6b9.fbc278"]]},{"id":"c461c6b9.fbc278","type":"function","z":"cc28c284.31643","name":"save topic in Flow Context","func":"var vesp_obj = flow.get('vesp_obj');\nvesp_obj.topic = msg.payload.topic;\nflow.set('vesp_obj',vesp_obj);\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":800,"wires":[[]]},{"id":"4d3988ce.294438","type":"function","z":"cc28c284.31643","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":630,"y":1160,"wires":[["439d0a8e.ebff74"]]},{"id":"a61e9789.8b08d","type":"inject","z":"cc28c284.31643","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1340,"wires":[["db0caa41.93f618"]]},{"id":"db0caa41.93f618","type":"function","z":"cc28c284.31643","name":"Construct Message to Publish","func":"var my_vesp_obj = flow.get('vesp_obj');\n \nvar nmsg = {};\nnode.warn(my_vesp_obj);\n\nnmsg.payload = {'type':'Dev_compeltelyBurnt', 'data':'hello world from HTTPS'};\n\nnmsg.method = 'POST';\nnmsg.url = my_vesp_obj.device_tenant_api_url+ '/device/event';\nnmsg.headers = {};\nnmsg.headers['maxRedirects'] = 3;\nnmsg.headers['Content-Type'] = \"application/json\";\nnmsg.headers['authorization'] = \"Bearer \"+ my_vesp_obj.token;\n\nreturn nmsg;","outputs":1,"noerr":0,"x":350,"y":1340,"wires":[["833ab96f.7ad388","9fa14d74.7a3ef"]]},{"id":"2b077bc7.72c224","type":"comment","z":"cc28c284.31643","name":"Step5. Generate Event using REST (double click me)","info":"This flow shows how to generate Event message into \nvitalpointz IOT Core/Platform.\n \n \nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc\n","x":210,"y":1260,"wires":[]},{"id":"833ab96f.7ad388","type":"http request","z":"cc28c284.31643","name":"","method":"use","ret":"txt","url":"","tls":"","x":590,"y":1340,"wires":[["7f6c51e.da1d43"]]},{"id":"5a9d8c78.64ca9c","type":"debug","z":"cc28c284.31643","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1400,"wires":[]},{"id":"9fa14d74.7a3ef","type":"debug","z":"cc28c284.31643","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":1280,"wires":[]},{"id":"7f6c51e.da1d43","type":"function","z":"cc28c284.31643","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":630,"y":1400,"wires":[["5a9d8c78.64ca9c"]]},{"id":"a1f6c504.e9c378","type":"function","z":"cc28c284.31643","name":"Config","func":"var baseurl = ''; //Enter IOT Core Base url. for e.g, newco.vitalpointz.com\nvar user_emailid = ''; //Enter Email Id\nvar passwd = ''; //Enter Password here\nvar dev_authcode = ''; //Enter Device Auth Code generated by IOT Core/Platform\n\nflow.set('baseurl',baseurl);\nflow.set('user_emailid',user_emailid);\nflow.set('password',passwd);\nflow.set('authcode',dev_authcode);\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":80,"wires":[[]]},{"id":"7f89f4e.489128c","type":"inject","z":"cc28c284.31643","name":"b4 start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["a1f6c504.e9c378"]]},{"id":"e0bb3ec2.535768","type":"function","z":"cc28c284.31643","name":"Check Inputs","func":"var url = flow.get('baseurl');\nvar user_email = flow.get('user_emailid');\nvar password = flow.get('password');\nvar authcode = flow.get('authcode');\n\nif(url && user_email && password && authcode ){\n if(url.length < 2 || user_email.length < 2 || password.length < 2 || authcode.length < 2)\n node.warn('Error: check config!');\n return msg;\n}\nelse\nnode.warn('Error: Check config!');","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["a7ba05e0.33c9"]]},{"id":"257dd48.c23c62c","type":"function","z":"cc28c284.31643","name":"Check Inputs","func":"var url = flow.get('baseurl');\nvar user_email = flow.get('user_emailid');\nvar password = flow.get('password');\nvar authcode = flow.get('authcode');\n\nif(url && user_email && password && authcode ){\n if(url.length < 2 || user_email.length < 2 || password.length < 2 || authcode.length < 2)\n node.warn('Error: check config!');\n return msg;\n}\nelse\nnode.warn('Error: Check config!');","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["b71c4c25.85bb78"]]},{"id":"82df0999.ffc59","type":"function","z":"cc28c284.31643","name":"Check Inputs","func":"var url = flow.get('baseurl');\nvar user_email = flow.get('user_emailid');\nvar password = flow.get('password');\nvar authcode = flow.get('authcode');\n\nif(url && user_email && password && authcode ){\n if(url.length < 2 || user_email.length < 2 || password.length < 2 || authcode.length < 2)\n node.warn('Error: check config!');\n return msg;\n}\nelse\nnode.warn('Error: Check config!');","outputs":1,"noerr":0,"x":350,"y":680,"wires":[["e75887a6.d32a9"]]},{"id":"a0c7491f.be3c08","type":"string","z":"cc28c284.31643","name":"","methods":[{"name":"replaceAll","params":[{"type":"str","value":"="},{"type":"str","value":":\""}]},{"name":"append","params":[{"type":"str","value":"\"}"}]},{"name":"prepend","params":[{"type":"str","value":"{"}]},{"name":"replaceAll","params":[{"type":"str","value":"device_tenant_api_url"},{"type":"str","value":"\"device_tenant_api_url\""}]},{"name":"replaceAll","params":[{"type":"str","value":"device_tenant_mqtt_url"},{"type":"str","value":"\"device_tenant_mqtt_url\""}]},{"name":"replaceAll","params":[{"type":"str","value":"device_tenant_hawkbit_url"},{"type":"str","value":"\"device_tenant_hawkbit_url\""}]},{"name":"replaceAll","params":[{"type":"str","value":"token"},{"type":"str","value":"\"token\""}]},{"name":"replaceAll","params":[{"type":"str","value":","},{"type":"str","value":"\","}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":690,"y":280,"wires":[["1a43dad3.d51965"]]},{"id":"2a54aae3.a5dc06","type":"string","z":"cc28c284.31643","name":"","methods":[{"name":"replaceAll","params":[{"type":"str","value":"="},{"type":"str","value":":\""}]},{"name":"append","params":[{"type":"str","value":"\"}"}]},{"name":"prepend","params":[{"type":"str","value":"{"}]},{"name":"replaceAll","params":[{"type":"str","value":"deviceid"},{"type":"str","value":"\"deviceid\""}]},{"name":"replaceAll","params":[{"type":"str","value":"devicename"},{"type":"str","value":"\"devicename\""}]},{"name":"replaceAll","params":[{"type":"str","value":"authcode"},{"type":"str","value":"\"authcode\""}]},{"name":"replaceAll","params":[{"type":"str","value":","},{"type":"str","value":"\","}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":610,"y":500,"wires":[["4e34c964.fb525"]]},{"id":"5a2ea9ea.be83f","type":"string","z":"cc28c284.31643","name":"","methods":[{"name":"replaceAll","params":[{"type":"str","value":"="},{"type":"str","value":":\""}]},{"name":"append","params":[{"type":"str","value":"\"}"}]},{"name":"prepend","params":[{"type":"str","value":"{"}]},{"name":"replaceAll","params":[{"type":"str","value":"mqtttopic"},{"type":"str","value":"\"topic\""}]},{"name":"replaceAll","params":[{"type":"str","value":","},{"type":"str","value":"\","}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":690,"y":800,"wires":[["c7c30c9e.cc5fd8"]]},{"id":"d82565c0.bd9628","type":"tls-config","z":"","name":"","cert":"My_Client_Crt.pem","key":"My_Client_key.pem","ca":"My_Client_CA.pem","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"9e042a06.380ec","type":"mqtt-broker","z":"","name":"","broker":"","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
