Simulator/IOT_Device_Manual_TLS
[{"id":"ce6c24e.ae16ed8","type":"tab","label":"manual onBoard - TLS","disabled":false,"info":""},{"id":"6d8e98cc.114108","type":"function","z":"ce6c24e.ae16ed8","name":"Create Login Req Obj","func":"var email = flow.get('user_emailid');\nvar passw = flow.get('password'); \nvar baseurl = flow.get('baseurl');\n\nvar newmsg = {payload: {\"email\":email, \"password\":passw,\"provider\":\"EMAIL\"}};\nnewmsg.method = \"POST\";\nnewmsg.url ='https://dapi.'+baseurl+'/user/authenticate';\n\nreturn newmsg;\n\n","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["70487f00.317e2"]]},{"id":"70487f00.317e2","type":"http request","z":"ce6c24e.ae16ed8","name":"User Authn REST-Call","method":"use","ret":"obj","url":"","tls":"","x":760,"y":280,"wires":[["62014ae0.3357a4","f4cdc59b.f37918"]]},{"id":"62014ae0.3357a4","type":"debug","z":"ce6c24e.ae16ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":280,"wires":[]},{"id":"70659065.3935e8","type":"inject","z":"ce6c24e.ae16ed8","name":"1.User Auth","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["3fd63fa6.3dec88"]]},{"id":"bdeb8d05.5d9898","type":"function","z":"ce6c24e.ae16ed8","name":"Store the VESP Obj in Flow Context","func":"\n var vesp_obj = flow.get('vesp_obj');\nvesp_obj = msg.payload;\nflow.set('vesp_obj',vesp_obj);\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":340,"wires":[[]]},{"id":"1f53faa5.be48ed","type":"function","z":"ce6c24e.ae16ed8","name":"Create Dev Authn Obj(Enter AuthCode)","func":"var dev_authcode = flow.get('authcode');\n \n var my_vesp_obj = flow.get('vesp_obj');\n var t_token = my_vesp_obj.token;\n \n var tdapi_url = my_vesp_obj.device_tenant_api_url;\n tdapi_url = tdapi_url+\"/device/auth/\";\n \n msg.payload= \"\";\n msg.headers = {};\n msg.headers['maxRedirects'] = 3;\n msg.headers['Content-Type'] = \"application/json\";\n msg.headers['authorization'] = \"Bearer \"+t_token;\n \n msg.url = tdapi_url+dev_authcode;\n \n msg.method = \"GET\";\n \n return msg;\n","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["90c7c102.87875"]]},{"id":"e151b7fe.6630f","type":"inject","z":"ce6c24e.ae16ed8","name":"2. Dev Auth","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["ea5d9abb.c5ce1"]]},{"id":"2f8ea758.727278","type":"function","z":"ce6c24e.ae16ed8","name":"construct Capability message","func":"var my_vesp_obj = flow.get('vesp_obj');\nvar tdapi_url = my_vesp_obj.device_tenant_api_url;\ntdapi_url = tdapi_url+'/device/capability/';\ntdapi_url = tdapi_url+my_vesp_obj.deviceid;\n\nvar t_token = my_vesp_obj.token;\nmsg.payload= \"\";\nmsg.headers = {};\nmsg.headers['maxRedirects'] = 3;\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['authorization'] = \"Bearer \"+t_token;\nmsg.payload = {\"DevType\":\"device\", \"CPUType\":\"x86_64\",\"CPUSerialNumber\":\"007\",\"OS\":\"Linux\",\"Kernel\":\"3.10.0-3456\",\"Security\":\"TLS,IPSEC\",\"Notify\":\"cpu_threshold,mem_threshold,throughput_threshold\",\"Monitor\":\"process,uptime,memory\",\"interfacelist\":\"eth0,eth1\",\"IP\":\"10.3.0.07\",\"DevUID\":\"885beaf4-84d7-11e87-bc8-5254003f12187\"};\n\nmsg.url = tdapi_url;\n\nmsg.method = \"POST\";\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":660,"wires":[["d402f8f2.6c111"]]},{"id":"5425ec40.5d53bc","type":"inject","z":"ce6c24e.ae16ed8","name":"3. Dev Capability Exch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":660,"wires":[["9c19f06e.a87c08"]]},{"id":"90c7c102.87875","type":"http request","z":"ce6c24e.ae16ed8","name":"Dev Authn REST-Call","method":"use","ret":"obj","url":"","tls":"","x":800,"y":480,"wires":[["a2f8719.488f61","5c026ba1.147bb4"]]},{"id":"1953bfa5.2834f8","type":"function","z":"ce6c24e.ae16ed8","name":"save deviceID in Flow Context","func":"var vesp_obj = flow.get('vesp_obj');\nvesp_obj.deviceid = msg.payload.deviceid;\nflow.set('vesp_obj',vesp_obj);\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":540,"wires":[[]]},{"id":"a2f8719.488f61","type":"debug","z":"ce6c24e.ae16ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":480,"wires":[]},{"id":"d402f8f2.6c111","type":"http request","z":"ce6c24e.ae16ed8","name":"Capability Exch REST-Call","method":"use","ret":"obj","url":"","tls":"142edc5a.72c93c","x":900,"y":660,"wires":[["94329888.a07ce"]]},{"id":"d4d0f3ce.83b13","type":"function","z":"ce6c24e.ae16ed8","name":"Split Certs","func":"var client_key = msg.payload.client_key;\nvar client_cert = msg.payload.client_crt;\nvar ca_cert = msg.payload.client_ca;\nvar mqtt_topic = msg.payload.mqtttopic;\nreturn [{payload:client_key},{payload:client_cert},{payload:ca_cert},{payload:mqtt_topic}];","outputs":4,"noerr":0,"x":690,"y":880,"wires":[["c9c824ba.2a0f9","789a3335.430034"],["447288ad.81d3f","ae15aedf.954f4"],["94373829.68c4f","c4f30614.928ee"],["52047893.77c018","f8dee6f2.98cfc8"]]},{"id":"789a3335.430034","type":"file","z":"ce6c24e.ae16ed8","name":"","filename":"My_Client_key.pem","appendNewline":true,"createDir":true,"overwriteFile":"true","x":930,"y":740,"wires":[]},{"id":"c9c824ba.2a0f9","type":"debug","z":"ce6c24e.ae16ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":780,"wires":[]},{"id":"ae15aedf.954f4","type":"file","z":"ce6c24e.ae16ed8","name":"","filename":"My_Client_Crt.pem","appendNewline":true,"createDir":false,"overwriteFile":"true","x":930,"y":860,"wires":[]},{"id":"447288ad.81d3f","type":"debug","z":"ce6c24e.ae16ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":900,"wires":[]},{"id":"c4f30614.928ee","type":"file","z":"ce6c24e.ae16ed8","name":"","filename":"My_Client_CA.pem","appendNewline":true,"createDir":false,"overwriteFile":"true","x":930,"y":960,"wires":[]},{"id":"94373829.68c4f","type":"debug","z":"ce6c24e.ae16ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":1000,"wires":[]},{"id":"f8dee6f2.98cfc8","type":"function","z":"ce6c24e.ae16ed8","name":"save topic","func":"var vesp_obj = flow.get('vesp_obj');\nvesp_obj.topic = msg.payload;\nflow.set('vesp_obj',vesp_obj);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1060,"wires":[[]]},{"id":"52047893.77c018","type":"debug","z":"ce6c24e.ae16ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1100,"wires":[]},{"id":"bb6d56ac.f72f78","type":"mqtt out","z":"ce6c24e.ae16ed8","name":"","topic":"","qos":"","retain":"","broker":"95b34110.d977a8","x":690,"y":1240,"wires":[]},{"id":"a6b0c5e9.538f58","type":"inject","z":"ce6c24e.ae16ed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1240,"wires":[["42d6fbe5.4efc74"]]},{"id":"42d6fbe5.4efc74","type":"function","z":"ce6c24e.ae16ed8","name":"Construct Message to Publish","func":"var my_vesp_obj = flow.get('vesp_obj'); //allowed Topic is stored in this object\n\nreturn {topic:my_vesp_obj.topic,payload:'hello world'};","outputs":1,"noerr":0,"x":430,"y":1240,"wires":[["bb6d56ac.f72f78"]]},{"id":"9d0f7083.a234b8","type":"comment","z":"ce6c24e.ae16ed8","name":"Step1. User Authentication (double click me)","info":"First step to bring an IOT Device to vitalpointz\nIOT Core/IOT Platform is to authenticate the user.\n\nEnsure you have username/password created under\nvitalpointz IOT Core/Platform before starting.\n\nInput\nThe device makes this call using following parameters\n\n- email id of the user\n- Password\n- the URL of the authentication call\n[Note]\n the URL to make this authentication call will be\nhttps://dapi.<base url for IOT Core>/user/authenticate\n\nOutput\nThe response of this REST call is saved in flow\ncontext called 'vesp_obj'.\n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":210,"y":200,"wires":[]},{"id":"2902839c.0580a4","type":"comment","z":"ce6c24e.ae16ed8","name":"Step2. Device Authentication (double click me)","info":"Second step to bring an IOT Device to vitalpointz\nIOT Core/IOT Platform is to authenticate the device itself.\n\nEnsure you have 'authcode' generated by\nvitalpointz IOT Core/Platform while adding the device\nbefore starting.\n\nInput\nThe device makes this call using following parameters\n\n- authcode\n[Note]\n NO other URL need to be entered by the user here\nas the required URL for API will be constructed from\nthe result of the previous (user authn) call. \n\nOutput\nThe response of this REST call is saved in flow\ncontext called 'vesp_obj'.\n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":220,"y":420,"wires":[]},{"id":"cb717951.6c02a","type":"comment","z":"ce6c24e.ae16ed8","name":"Step3. Device Capability Exchange (double click me)","info":"Third and final step to bring an IOT Device to \nvitalpointz IOT Core/IOT Platform is to exchange capabilities\nof the device with the IOT Core/Platform.\n\nInput\nThe device makes this call using following parameters\n\n- Capabilites: device capavilities are explressed as \nJSON object. please see msg.payload field of function\nnode 'construct capability message'. \n\n[Note]\n NO other URL need to be entered by the user here\nas the required URL for API will be constructed from\nthe result of the previous (user authn, Dev Authn) calls. \n\nOutput\nThe response of this REST call is saved in flow\ncontext called 'vesp_obj'.\n\nWith this call, the device panel in vitalpointz IOT Core\n/platform turns 'Yellow' indicating device is \nauthenticated and on-boarded successfully. \n\nWith the result of the call, device is issued with \ncertificates and alloted topic to transfer messages. \nThe device can proceed to publish / susbcribe messages\nto / from IOT Core/platform respectively. \n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":230,"y":600,"wires":[]},{"id":"eb0fded1.6200e","type":"comment","z":"ce6c24e.ae16ed8","name":"Step4(a). Transmit message MQTT TLS (double click me)","info":"This flow shows how to publish message into \nvitalpointz IOT Core/Platform.\n\nMQTT Node is used to publish message. \n[NOTE] \n MQTT node needs to configured with URL and Port number \n manually as the standard Node-RED's MQTT node does NOT\n support that to be fed as message property. \n The URL&Port are available in vesp_obj with\n the key 'device_tenant_mqtt_url'.\n Alternatively, the same can be obtained in the web UI\n of the vitalpointz IOT Core/Platform. \n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc\n","x":250,"y":1180,"wires":[]},{"id":"545ba70e.c46728","type":"inject","z":"ce6c24e.ae16ed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1420,"wires":[["d2ec71e6.5e93e"]]},{"id":"d2ec71e6.5e93e","type":"function","z":"ce6c24e.ae16ed8","name":"Construct Message to Publish","func":"var my_vesp_obj = flow.get('vesp_obj');\n \nvar nmsg = {};\n//node.warn(my_vesp_obj);\n\nnmsg.payload = {'topic':my_vesp_obj.topic, 'data':'hello world from HTTPS'};\n\nnmsg.method = 'POST';\nnmsg.url = my_vesp_obj.device_tenant_api_url+ '/device/data';\nnmsg.headers = {};\nnmsg.headers['maxRedirects'] = 3;\nnmsg.headers['Content-Type'] = \"application/json\";\nnmsg.headers['authorization'] = \"Bearer \"+ my_vesp_obj.token;\n\nreturn nmsg;","outputs":1,"noerr":0,"x":370,"y":1420,"wires":[["1700af86.d7cfd","33bd4fec.b5a1"]]},{"id":"144df39a.7e2e64","type":"comment","z":"ce6c24e.ae16ed8","name":"Step4(b). Transmit message REST (double click me)","info":"This flow shows how to publish message into \nvitalpointz IOT Core/Platform using HTTPS REST.\n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc\n","x":230,"y":1340,"wires":[]},{"id":"33bd4fec.b5a1","type":"http request","z":"ce6c24e.ae16ed8","name":"","method":"use","ret":"txt","url":"","tls":"","x":610,"y":1420,"wires":[["e89c896f.28817"]]},{"id":"db66325e.f972d8","type":"debug","z":"ce6c24e.ae16ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1480,"wires":[]},{"id":"fdf79b4e.cc76f","type":"comment","z":"ce6c24e.ae16ed8","name":"Readme First (double click me)","info":"This Node RED Flow is provided as an example\nof devices that connect, authenticate and\ntransmit data to vitalpointz IOT Core/ IOT Platform.\n\nThis Flow, deployable on Node-RED, simulates\na device added under 'manual' option in\nvitalpointz IOT Core/Platform. This Flow, simulating\na device that authenticates with vitalpointz\nIOT Core/Platform using HTTPS REST service.\n\nThis flow leverges flow context facility of\nNode-RED.\n\nKindly double click individual comment block\nto understand this flow well.\n\nAt the outset,every device should run 3 REST calls\nto vitalpointz IOT Core/Platform before it is\nallowed to trasact data to/from the vitalpointz\nIOT Core/Platform, they are namely -\n\nI. User Authetication\nII. Device Authentication\nIII.Device Capability Exchange\n\nAt the end of all three calls, the device receives\nDevice-Certificate and MQTT Topic along with\nthe list of authorized URLs to commuincate to\nvitalpointz IOT Core/ Platform. Using these information\nthe device can pub/sub MQTT messages.\n\nREST (HTTPS) publish is also demonstrated.\n\nDouble-Click on the 'Config' Node to enter basic \ndevice information. Then click button called \n'b4start'. \n\nThen sequentially click the buttons in the order.\n(1)1.User Auth\n(2)2.Dev Auth\n(3)3.Dev Capability Exch\nOnce done, click 4.a and 4.b to simulating device \nmessage publish. \nClick 5 to publish a device event that gets routed \nin events framework within vitalpointz IOT Core/Platform.\n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core,\ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":150,"y":60,"wires":[]},{"id":"f4cdc59b.f37918","type":"function","z":"ce6c24e.ae16ed8","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["bdeb8d05.5d9898"]]},{"id":"5c026ba1.147bb4","type":"function","z":"ce6c24e.ae16ed8","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["1953bfa5.2834f8"]]},{"id":"94329888.a07ce","type":"function","z":"ce6c24e.ae16ed8","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":630,"y":740,"wires":[["d4d0f3ce.83b13"]]},{"id":"e89c896f.28817","type":"function","z":"ce6c24e.ae16ed8","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":650,"y":1480,"wires":[["db66325e.f972d8"]]},{"id":"1700af86.d7cfd","type":"debug","z":"ce6c24e.ae16ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":1360,"wires":[]},{"id":"6583f473.e2c05c","type":"inject","z":"ce6c24e.ae16ed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1640,"wires":[["f3ff169.e14ea68"]]},{"id":"f3ff169.e14ea68","type":"function","z":"ce6c24e.ae16ed8","name":"Construct Message to Publish","func":"var my_vesp_obj = flow.get('vesp_obj');\n \nvar nmsg = {};\n\nnmsg.payload = {'type':'Dev_compeltelyBurnt', 'data':'hello world from HTTPS'};\n\nnmsg.method = 'POST';\nnmsg.url = my_vesp_obj.device_tenant_api_url+ '/device/event';\nnmsg.headers = {};\nnmsg.headers['maxRedirects'] = 3;\nnmsg.headers['Content-Type'] = \"application/json\";\nnmsg.headers['authorization'] = \"Bearer \"+ my_vesp_obj.token;\n\nreturn nmsg;","outputs":1,"noerr":0,"x":370,"y":1640,"wires":[["38302244.6ba4b6","e6f65f00.dddd8"]]},{"id":"8ed81c0e.45f38","type":"comment","z":"ce6c24e.ae16ed8","name":"Step5. Generate Event using REST (double click me)","info":"This flow shows how to generate Event message into \nvitalpointz IOT Core/Platform.\n \n \nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc\n","x":230,"y":1560,"wires":[]},{"id":"e6f65f00.dddd8","type":"http request","z":"ce6c24e.ae16ed8","name":"","method":"use","ret":"txt","url":"","tls":"","x":610,"y":1640,"wires":[["f93a867f.0154c"]]},{"id":"5f8d94bc.772194","type":"debug","z":"ce6c24e.ae16ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1700,"wires":[]},{"id":"f93a867f.0154c","type":"function","z":"ce6c24e.ae16ed8","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":650,"y":1700,"wires":[["5f8d94bc.772194"]]},{"id":"38302244.6ba4b6","type":"debug","z":"ce6c24e.ae16ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":1580,"wires":[]},{"id":"7ff85b34.65f94c","type":"function","z":"ce6c24e.ae16ed8","name":"Config","func":"var baseurl = ''; //Enter Base URL for IOT Core. For e.g., orgname.vitalpointz.com\nvar user_emailid = '';//Enter User Email Id\nvar passwd = '';//Enter Password\nvar dev_authcode = ''; //Enter Authcode genereted by vitalpointz IOT Core/Platform\n\nflow.set('baseurl',baseurl);\nflow.set('user_emailid',user_emailid);\nflow.set('password',passwd);\nflow.set('authcode',dev_authcode);\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[[]]},{"id":"28edeb5e.212eec","type":"inject","z":"ce6c24e.ae16ed8","name":"b4 start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["7ff85b34.65f94c"]]},{"id":"3fd63fa6.3dec88","type":"function","z":"ce6c24e.ae16ed8","name":"Check Inputs","func":"var url = flow.get('baseurl');\nvar user_email = flow.get('user_emailid');\nvar password = flow.get('password');\nvar authcode = flow.get('authcode');\n\nif(url && user_email && password && authcode ){\n if(url.length < 2 || user_email.length < 2 || password.length < 2 || authcode.length < 2)\n node.warn('Error: check config!');\n return msg;\n}\nelse\nnode.warn('Error: Check config!');","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["6d8e98cc.114108"]]},{"id":"ea5d9abb.c5ce1","type":"function","z":"ce6c24e.ae16ed8","name":"Check Inputs","func":"var url = flow.get('baseurl');\nvar user_email = flow.get('user_emailid');\nvar password = flow.get('password');\nvar authcode = flow.get('authcode');\n\nif(url && user_email && password && authcode ){\n if(url.length < 2 || user_email.length < 2 || password.length < 2 || authcode.length < 2)\n node.warn('Error: check config!');\n return msg;\n}\nelse\nnode.warn('Error: Check config!');","outputs":1,"noerr":0,"x":290,"y":480,"wires":[["1f53faa5.be48ed"]]},{"id":"9c19f06e.a87c08","type":"function","z":"ce6c24e.ae16ed8","name":"Check Inputs","func":"var url = flow.get('baseurl');\nvar user_email = flow.get('user_emailid');\nvar password = flow.get('password');\nvar authcode = flow.get('authcode');\n\nif(url && user_email && password && authcode ){\n if(url.length < 2 || user_email.length < 2 || password.length < 2 || authcode.length < 2)\n node.warn('Error: check config!');\n return msg;\n}\nelse\nnode.warn('Error: Check config!');","outputs":1,"noerr":0,"x":370,"y":660,"wires":[["2f8ea758.727278"]]},{"id":"142edc5a.72c93c","type":"tls-config","z":"","name":"","cert":"My_Client_Crt.pem","key":"My_Client_key.pem","ca":"My_Client_CA.pem","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"95b34110.d977a8","type":"mqtt-broker","z":"","name":"","broker":"","port":"","tls":"142edc5a.72c93c","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
