Simulator_v1.3/NodeRED Simulator.json
[{"id":"630f6f6.002d49","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c8f2ea6f.a3d2b","type":"function","z":"630f6f6.002d49","name":"Config","func":"var num_devices = 4;// enter the number of devices created under IOT Core/Platform UI\nvar baseurl = 'j12ctesta.vitalpointz.com'; //enter the base url for the IOT Core,for e.g, 'orgname.vitalpointz.com';\nvar dev_act_code = 'BTS2QiGV';//enter the Device Activation Code provided by IOT Core/Platfrom UI while adding devices\nvar userkey = '7FKwmS-PB'; //Enter User Auth Key from IoT Core Platform UI\n\nflow.set('num_devices',num_devices);\nflow.set('baseurl',baseurl);\nflow.set('dev_act_code',dev_act_code);\nflow.set('user_authkey',userkey);\nflow.set('tickcount',0);\nflow.set('dev_topics',[]);\n\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":84,"wires":[[]]},{"id":"7f3d408d.7b98f8","type":"inject","z":"630f6f6.002d49","name":"b4 start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":124,"y":84,"wires":[["c8f2ea6f.a3d2b"]]},{"id":"7d7cc36a.ec13dc","type":"inject","z":"630f6f6.002d49","name":"Start","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98,"y":177,"wires":[["89c328f5.4138"]]},{"id":"b74af940.74e9e8","type":"delay","z":"630f6f6.002d49","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":231,"y":237,"wires":[["dd6e661e.741f98"]]},{"id":"235e14cd.5e7264","type":"link in","z":"630f6f6.002d49","name":"","links":["f1e0f030.72d8e","d9adc319.3af4b"],"x":126,"y":237,"wires":[["b74af940.74e9e8"]]},{"id":"89c328f5.4138","type":"function","z":"630f6f6.002d49","name":"Check Inputs","func":"var url = flow.get('baseurl');\nvar num_devices = flow.get('num_devices');\nvar tenant_id = flow.get('tenant_id');\nvar user_email = flow.get('user_emailid');\nif(url && num_devices && tenant_id && user_email ){\n if(num_devices < 1 || url.length < 2 || tenant_id.length < 2 || user_email.length < 2)\n node.warn('Error: missing config!');\n msg.payload = flow.get('tickcount');\nreturn msg;\n}\n\n","outputs":1,"noerr":0,"x":261,"y":177,"wires":[["dd6e661e.741f98"]]},{"id":"dd6e661e.741f98","type":"function","z":"630f6f6.002d49","name":"Gen N-Triggers","func":"var MAX_TRIGGERS = flow.get('num_devices');\nvar tc = flow.get('tickcount');\nif(tc == undefined)\n tc = 1;\nif(msg.payload != -1){\n tc = tc+1; \n if(msg.payload == 0) \n tc = 0;\n flow.set('tickcount',tc);\n if(tc < MAX_TRIGGERS)\n return {payload: 1};\n else\n return {payload:-1};\n \n} \n // return {payload : -1};","outputs":1,"noerr":0,"x":451,"y":177,"wires":[["d68b3680.793e6"]]},{"id":"d68b3680.793e6","type":"function","z":"630f6f6.002d49","name":"Filter Trigger","func":"if(msg.payload == 1)\nreturn msg;","outputs":1,"noerr":0,"x":641,"y":177,"wires":[["6a2d8de.5fe4df4"]]},{"id":"6a2d8de.5fe4df4","type":"function","z":"630f6f6.002d49","name":"Create Login Req Obj","func":"var tenantid = flow.get('tenant_id'); \nvar baseurl = flow.get('baseurl');\nvar userkey = flow.get('user_authkey');\n\nvar newmsg = {payload: {\"userkey\":userkey}};\nnewmsg.method = \"POST\";\nnewmsg.url = 'https://dapi.'+ baseurl +'/user/authenticate';\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":133,"y":319,"wires":[["ed012159.892d4"]]},{"id":"ed012159.892d4","type":"http request","z":"630f6f6.002d49","name":"User Authn REST-Call","method":"use","ret":"obj","url":"","tls":"","x":373,"y":319,"wires":[["3a5f91a1.4a6b26"]]},{"id":"3a5f91a1.4a6b26","type":"function","z":"630f6f6.002d49","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":603,"y":319,"wires":[["a3be63b0.96f5"]]},{"id":"a3be63b0.96f5","type":"function","z":"630f6f6.002d49","name":"Store the response in Flow Context","func":"var vesp_obj = flow.get('vesp_obj');\nvesp_obj = msg.payload;\nflow.set('vesp_obj',vesp_obj);\nreturn msg;","outputs":1,"noerr":0,"x":873,"y":319,"wires":[["160ba883.adf21f"]]},{"id":"160ba883.adf21f","type":"function","z":"630f6f6.002d49","name":"Create Dev Bulk Allocate Req-Obj","func":"var my_vesp_obj = flow.get('vesp_obj');\nvar t_token = my_vesp_obj.token;\n \n//var ts = new Date().getTime();\nvar ts = flow.get('tickcount');\n\nvar devhash = 'qFADEDEADBEEF'+ts; //generate unique device hash\n \nvar dev_act_code = flow.get('dev_act_code');\n\nvar newmsg = {payload: {'hash' : devhash,'devicetype':'device', 'device_activation_code':dev_act_code}}; //Hash must be sent. other keys are optional.\n \n\nvar tdapi_url = my_vesp_obj.device_tenant_api_url;\ntdapi_url = tdapi_url+\"/device/allocateAuth\";\n \nmsg.payload= \"\";\nmsg.headers = {};\nmsg.headers['maxRedirects'] = 3;\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['authorization'] = \"Bearer \"+t_token;\nmsg.payload = newmsg.payload;\n\nmsg.method = \"POST\";\nmsg.url = tdapi_url;\nnode.warn(devhash);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":223,"y":450,"wires":[["4a8cc042.af542"]]},{"id":"4a8cc042.af542","type":"http request","z":"630f6f6.002d49","name":"Dev Authn REST-Call","method":"use","ret":"obj","url":"","tls":"","x":521,"y":449,"wires":[["892f2e9e.4e3a58"]]},{"id":"892f2e9e.4e3a58","type":"function","z":"630f6f6.002d49","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":751,"y":449,"wires":[["ebc5e2b6.532928","3063e424.78f60c"]]},{"id":"ebc5e2b6.532928","type":"function","z":"630f6f6.002d49","name":"save deviceID","func":"var vesp_obj = flow.get('vesp_obj');\nvesp_obj.deviceid = msg.payload.deviceid;\nflow.set('vesp_obj',vesp_obj);\nnode.warn(vesp_obj.deviceid);\nreturn msg;","outputs":1,"noerr":0,"x":941,"y":449,"wires":[["30a8ca52.467a2e","7c2c3569.6b5c3c"]]},{"id":"30a8ca52.467a2e","type":"function","z":"630f6f6.002d49","name":"construct Capability message","func":"var my_vesp_obj = flow.get('vesp_obj');//msg.payload;\nvar tdapi_url = my_vesp_obj.device_tenant_api_url;\ntdapi_url = tdapi_url+'/device/capability/';\ntdapi_url = tdapi_url+my_vesp_obj.deviceid;\n\nvar t_token = my_vesp_obj.token;\nmsg.payload= \"\";\nmsg.headers = {};\nmsg.headers['maxRedirects'] = 3;\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['authorization'] = \"Bearer \"+t_token;\nmsg.payload = {\"DevType\":\"device\", \"CPUType\":\"x86_64\",\"CPUSerialNumber\":\"007\",\"OS\":\"Linux\",\"Kernel\":\"3.10.0-3456\",\"Security\":\"TLS,IPSEC\",\"Notify\":\"cpu_threshold,mem_threshold,throughput_threshold\",\"Monitor\":\"process,uptime,memory\",\"interfacelist\":\"eth0,eth1\",\"IP\":\"10.3.0.07\",\"DevUID\":\"885beaf4-84d7-11e87-bc8-5254003f12187\"};//newMsg;\n\nmsg.url = tdapi_url;\n\nmsg.method = \"POST\";\n\nreturn msg;","outputs":1,"noerr":0,"x":249,"y":586,"wires":[["924fa6bf.9aa6c8"]]},{"id":"924fa6bf.9aa6c8","type":"http request","z":"630f6f6.002d49","name":"Capability Exch REST-Call","method":"use","ret":"obj","url":"","tls":"4a5866fd.22e2c8","x":546,"y":587,"wires":[["39359bf2.d82dd4"]]},{"id":"39359bf2.d82dd4","type":"function","z":"630f6f6.002d49","name":"Check HTTP Resp","func":"if(msg.statusCode == 200) {\n return msg;\n}\n\nnode.warn('HTTP Failed. Check the HTTP-Request Object');","outputs":1,"noerr":0,"x":796,"y":587,"wires":[["34fa1f6.ccca56","f164f95d.692d78"]]},{"id":"34fa1f6.ccca56","type":"function","z":"630f6f6.002d49","name":"save topic","func":"var tcount = flow.get('tickcount');\nif(flow.get('dev_topics') == undefined){\n flow.set('dev_topics',[]);\n}\nvar topic_list = [];\ntopic_list = flow.get('dev_topics');\ntopic_list[tcount] = msg.payload.mqtttopic;\nflow.set('dev_topics',topic_list);\nreturn msg;","outputs":1,"noerr":0,"x":1009,"y":589,"wires":[["3b5a7d77.56d782"]]},{"id":"d9adc319.3af4b","type":"link out","z":"630f6f6.002d49","name":"LinkA","links":["4f31b82a.f0c03","235e14cd.5e7264"],"x":961,"y":920,"wires":[]},{"id":"30166c7f.b6255c","type":"function","z":"630f6f6.002d49","name":"Create Message","func":" if(msg.payload == 0 || msg.payload == 1) \n flow.set('mqtt_run_status',msg.payload); \n \nif(flow.get('mqtt_run_status') == 1){\n var t = getRandomInt(60);\n var p = getRandomInt_1(90000,120000);\n var ws = getRandomInt_1(10,30);\n var dev_topics = [];\n dev_topics = flow.get('dev_topics');\n msg.topic = dev_topics[getRandomInt(flow.get('tickcount'))];//Select a Device Topic and send message\n msg.payload = 'temperature='+ t +',pressure='+p+',windspeed='+ws;\nreturn msg;\n \n}\n\nfunction getRandomInt(max) {\n return Math.floor(Math.random() * Math.floor(max));\n}\n\nfunction getRandomInt_1(min, max) {\n min = Math.ceil(min);\n max = Math.floor(max);\n return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive\n}\n","outputs":1,"noerr":0,"x":396,"y":1175,"wires":[["12a5bac5.0e8fdd","cc238537.ff657","ff2d2bb9.aba988"]]},{"id":"cc238537.ff657","type":"mqtt out","z":"630f6f6.002d49","name":"MQTT_TLS Pub","topic":"","qos":"","retain":"","broker":"93fb6e00.176bc","x":676,"y":1175,"wires":[]},{"id":"8b1af68c.aa0f5","type":"comment","z":"630f6f6.002d49","name":"MQTT Publish","info":"","x":166,"y":1115,"wires":[]},{"id":"51ee7b0f.354ad4","type":"function","z":"630f6f6.002d49","name":"Create Message","func":"if(msg.payload == 0 || msg.payload == 1) \n flow.set('http_run_status',msg.payload); \n \nif(flow.get('http_run_status') == 1){\n var t = getRandomInt(60);\n var p = getRandomInt_1(90000,120000);\n var ws = getRandomInt_1(10,30);\n var dev_topics = [];\n var my_vesp_obj = flow.get('vesp_obj');\n \n var nmsg = {};\n\nnmsg.method = 'POST';\nnmsg.url = my_vesp_obj.device_tenant_api_url+ '/device/data';\nnmsg.headers = {};\nnmsg.headers['maxRedirects'] = 3;\nnmsg.headers['Content-Type'] = \"application/json\";\nnmsg.headers['authorization'] = \"Bearer \"+ my_vesp_obj.token;\n\n dev_topics = flow.get('dev_topics');\n msg.topic = dev_topics[getRandomInt(flow.get('tickcount'))];//Select a Device Topic and send message\n msg.data = 'Temperature ='+ t +',pressure='+p+',windspeed='+ws;\n \n nmsg.payload = msg;\n \nreturn nmsg;\n}\n\n\n \nfunction getRandomInt(max) {\n return Math.floor(Math.random() * Math.floor(max));\n}\n\nfunction getRandomInt_1(min, max) {\n min = Math.ceil(min);\n max = Math.floor(max);\n return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive\n}\n\n\n","outputs":1,"noerr":0,"x":376,"y":1375,"wires":[["60ba5eda.92dd48"]]},{"id":"66e5f3.a560fa0c","type":"comment","z":"630f6f6.002d49","name":"HTTPS Publish","info":"","x":156,"y":1315,"wires":[]},{"id":"273564ca.219ec4","type":"debug","z":"630f6f6.002d49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":882,"y":1437,"wires":[]},{"id":"60ba5eda.92dd48","type":"http request","z":"630f6f6.002d49","name":"REST Pub","method":"use","ret":"txt","url":"","tls":"","x":556,"y":1375,"wires":[["37d39780.db1a","35c6eebb.15411a","70a7f26b.799a8c"]]},{"id":"967c6802.2ff838","type":"inject","z":"630f6f6.002d49","name":"Start","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166,"y":1175,"wires":[["30166c7f.b6255c"]]},{"id":"a46031ac.487598","type":"inject","z":"630f6f6.002d49","name":"Start","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166,"y":1375,"wires":[["51ee7b0f.354ad4"]]},{"id":"12a5bac5.0e8fdd","type":"delay","z":"630f6f6.002d49","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":406,"y":1115,"wires":[["30166c7f.b6255c"]]},{"id":"35c6eebb.15411a","type":"delay","z":"630f6f6.002d49","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":376,"y":1315,"wires":[["51ee7b0f.354ad4"]]},{"id":"4e3a2612.c65378","type":"comment","z":"630f6f6.002d49","name":"After On-boarding is done/going on.., click 'Start' start random data trasnmission","info":"NOTE:\n MQTT Node needs configured manually with the Certificates\n,URL and Port number as provided by on-boarding process. \n\nabout vitalpointz inc\nvitalpointz Inc makes cloud deployed IOT Core, \ncloud deployed IOT Platform, various device agents,\nand mobile app to interact with the IOT devices.\n\nFor more info, email us: info@vitalpointz.net\nvisit vitalpointz.io\n(c) 2019 vitalpointz inc","x":356,"y":1035,"wires":[]},{"id":"37d39780.db1a","type":"function","z":"630f6f6.002d49","name":"Check HTTP Error","func":"if(msg.statusCode != 200) {\n return msg;\n}\n","outputs":1,"noerr":0,"x":766,"y":1375,"wires":[["ab2b2a7e.f7816","a21b0221.9b7f8"]]},{"id":"ecb33e2f.f6fa18","type":"inject","z":"630f6f6.002d49","name":"Stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166,"y":1435,"wires":[["51ee7b0f.354ad4"]]},{"id":"f567b72b.97cff","type":"inject","z":"630f6f6.002d49","name":"Stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166,"y":1215,"wires":[["30166c7f.b6255c"]]},{"id":"ff2d2bb9.aba988","type":"msg-speed","z":"630f6f6.002d49","name":"MQTT pub rate","frequency":"sec","estimation":false,"ignore":false,"x":676,"y":1115,"wires":[[],[]]},{"id":"70a7f26b.799a8c","type":"msg-speed","z":"630f6f6.002d49","name":"REST pub rate","frequency":"min","estimation":false,"ignore":false,"x":836,"y":1276,"wires":[[],[]]},{"id":"ab2b2a7e.f7816","type":"msg-speed","z":"630f6f6.002d49","name":"REST pub rate","frequency":"min","estimation":false,"ignore":false,"x":1002,"y":1353,"wires":[[],[]]},{"id":"a21b0221.9b7f8","type":"json","z":"630f6f6.002d49","name":"","property":"payload","action":"","pretty":false,"x":737.5,"y":1438,"wires":[["273564ca.219ec4"]]},{"id":"3063e424.78f60c","type":"debug","z":"630f6f6.002d49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":965,"y":389,"wires":[]},{"id":"3b5a7d77.56d782","type":"function","z":"630f6f6.002d49","name":"construct Get CA_fullChain message","func":"var my_vesp_obj = flow.get('vesp_obj');//msg.payload;\nvar tdapi_url = my_vesp_obj.device_tenant_api_url;\ntdapi_url = tdapi_url+'/cert/ca_full/';\ntdapi_url = tdapi_url+my_vesp_obj.deviceid;\n\nvar t_token = my_vesp_obj.token;\nmsg.payload= \"\";\nmsg.headers = {};\nmsg.headers['maxRedirects'] = 3;\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['authorization'] = \"Bearer \"+t_token;\n//msg.payload = {\"DevType\":\"device\", \"CPUType\":\"x86_64\",\"CPUSerialNumber\":\"007\",\"OS\":\"Linux\",\"Kernel\":\"3.10.0-3456\",\"Security\":\"TLS,IPSEC\",\"Notify\":\"cpu_threshold,mem_threshold,throughput_threshold\",\"Monitor\":\"process,uptime,memory\",\"interfacelist\":\"eth0,eth1\",\"IP\":\"10.3.0.07\",\"DevUID\":\"885beaf4-84d7-11e87-bc8-5254003f12187\"};//newMsg;\n\nmsg.url = tdapi_url;\n\nmsg.method = \"GET\";\n\nreturn msg;","outputs":1,"noerr":0,"x":272,"y":742,"wires":[["72e7b713.2f37c"]]},{"id":"72e7b713.2f37c","type":"http request","z":"630f6f6.002d49","name":"Get CaFULL REST-Call","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"4a5866fd.22e2c8","proxy":"","x":560,"y":746,"wires":[["4cf69e8f.5b69f8","a5d958dc.f01448","e4faf591.cb98b8"]]},{"id":"4cf69e8f.5b69f8","type":"debug","z":"630f6f6.002d49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":797,"y":758,"wires":[]},{"id":"a5d958dc.f01448","type":"file","z":"630f6f6.002d49","name":"","filename":"My_Client_CA.pem","appendNewline":true,"createDir":false,"overwriteFile":"true","x":823,"y":698,"wires":[[]]},{"id":"e4faf591.cb98b8","type":"function","z":"630f6f6.002d49","name":"construct Get DevCert message","func":"var my_vesp_obj = flow.get('vesp_obj');//msg.payload;\nvar tdapi_url = my_vesp_obj.device_tenant_api_url;\ntdapi_url = tdapi_url+'/cert/client_crt/';\ntdapi_url = tdapi_url+my_vesp_obj.deviceid;\n\nvar t_token = my_vesp_obj.token;\nmsg.payload= \"\";\nmsg.headers = {};\nmsg.headers['maxRedirects'] = 3;\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['authorization'] = \"Bearer \"+t_token;\n//msg.payload = {\"DevType\":\"device\", \"CPUType\":\"x86_64\",\"CPUSerialNumber\":\"007\",\"OS\":\"Linux\",\"Kernel\":\"3.10.0-3456\",\"Security\":\"TLS,IPSEC\",\"Notify\":\"cpu_threshold,mem_threshold,throughput_threshold\",\"Monitor\":\"process,uptime,memory\",\"interfacelist\":\"eth0,eth1\",\"IP\":\"10.3.0.07\",\"DevUID\":\"885beaf4-84d7-11e87-bc8-5254003f12187\"};//newMsg;\n\nmsg.url = tdapi_url;\n\nmsg.method = \"GET\";\n\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":844,"wires":[["da124fb2.19028"]]},{"id":"da124fb2.19028","type":"http request","z":"630f6f6.002d49","name":"Get CaFULL REST-Call","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"4a5866fd.22e2c8","proxy":"","x":553,"y":844,"wires":[["bf0e8388.4f871","8e5d8330.abfad8","18e26cd3.7f5fdb"]]},{"id":"bf0e8388.4f871","type":"debug","z":"630f6f6.002d49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":788,"y":866,"wires":[]},{"id":"8e5d8330.abfad8","type":"function","z":"630f6f6.002d49","name":"construct Get PvtKey message","func":"var my_vesp_obj = flow.get('vesp_obj');//msg.payload;\nvar tdapi_url = my_vesp_obj.device_tenant_api_url;\ntdapi_url = tdapi_url+'/cert/client_key/';\ntdapi_url = tdapi_url+my_vesp_obj.deviceid;\n\nvar t_token = my_vesp_obj.token;\nmsg.payload= \"\";\nmsg.headers = {};\nmsg.headers['maxRedirects'] = 3;\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['authorization'] = \"Bearer \"+t_token;\n//msg.payload = {\"DevType\":\"device\", \"CPUType\":\"x86_64\",\"CPUSerialNumber\":\"007\",\"OS\":\"Linux\",\"Kernel\":\"3.10.0-3456\",\"Security\":\"TLS,IPSEC\",\"Notify\":\"cpu_threshold,mem_threshold,throughput_threshold\",\"Monitor\":\"process,uptime,memory\",\"interfacelist\":\"eth0,eth1\",\"IP\":\"10.3.0.07\",\"DevUID\":\"885beaf4-84d7-11e87-bc8-5254003f12187\"};//newMsg;\n\nmsg.url = tdapi_url;\n\nmsg.method = \"GET\";\n\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":938,"wires":[["917f397f.a58ac8"]]},{"id":"917f397f.a58ac8","type":"http request","z":"630f6f6.002d49","name":"Get CaFULL REST-Call","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"4a5866fd.22e2c8","proxy":"","x":549,"y":938,"wires":[["aa619b61.9cdcb","c9364c64.de3608"]]},{"id":"aa619b61.9cdcb","type":"debug","z":"630f6f6.002d49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":777,"y":982,"wires":[]},{"id":"18e26cd3.7f5fdb","type":"file","z":"630f6f6.002d49","name":"","filename":"My_Client_Crt.pem","appendNewline":true,"createDir":false,"overwriteFile":"true","x":819,"y":808,"wires":[[]]},{"id":"c9364c64.de3608","type":"file","z":"630f6f6.002d49","name":"","filename":"My_Client_key.pem","appendNewline":true,"createDir":true,"overwriteFile":"true","x":805,"y":919,"wires":[["d9adc319.3af4b"]]},{"id":"52fa5a74.353ebc","type":"comment","z":"630f6f6.002d49","name":"Fill up the Config Structure before starting simulation","info":"Fill up the Config Structure before starting simulation","x":221.5,"y":30,"wires":[]},{"id":"f164f95d.692d78","type":"msg-speed","z":"630f6f6.002d49","name":"","frequency":"min","estimation":false,"ignore":false,"x":1019,"y":544,"wires":[[],[]]},{"id":"7c2c3569.6b5c3c","type":"msg-speed","z":"630f6f6.002d49","name":"","frequency":"min","estimation":false,"ignore":false,"x":1146,"y":451,"wires":[[],[]]},{"id":"9f63d713.d3378","type":"comment","z":"630f6f6.002d49","name":"MQTT over TLS and HTTPS Device Simulation","info":"v1.3 and above","x":845,"y":36,"wires":[]},{"id":"4a5866fd.22e2c8","type":"tls-config","z":"","name":"","cert":"My_Client_Crt.pem","key":"My_Client_key.pem","ca":"My_Client_CA.pem","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"93fb6e00.176bc","type":"mqtt-broker","z":"","name":"","broker":"mqtt-5e6616e9a2c0560030f5d8b6.j12ctesta.vitalpointz.com","port":"10001","tls":"cb4bbd78.d3c1c","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cb4bbd78.d3c1c","type":"tls-config","z":"","name":"","cert":"My_Client_Crt.pem","key":"My_Client_key.pem","ca":"My_Client_CA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]